main {
  margin-top: 60px;
  background-color: black;
}

form {
  width: 350px;
  margin-bottom: 10px;
  background-color: black;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}